{{#burger-menu as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <button {{action burger.state.actions.close}}>Close</button>

    <ul>
      {{#menu.item}}
        {{link-to 'Disorders' 'disorders'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'About' 'about'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Testimonials' 'testimonials'}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
  <div class="site-name-container">
    <h1 class="site-name">McKoy Creative Home</h1>
    {{#link-to 'index' class="logo" title="Click here to go back to the homepage"}}{{/link-to}}
  </div>
    <button {{action burger.state.actions.toggle}}>Menu</button>
    <div class="body">
    {{liquid-outlet}}
  </div>
  {{/burger.outlet}}
{{/burger-menu}}
