
{{#burger-menu as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <button {{action burger.state.actions.close}}>Close</button>

    <ul>
      {{#menu.item}}
        {{link-to 'Disorders' 'disorders'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'About' 'about'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Testimonials' 'testimonials'}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <button {{action burger.state.actions.toggle}}>Menu</button>
    <div class="body">
    {{liquid-outlet}}
  </div>
  {{/burger.outlet}}
{{/burger-menu}}
