{{#burger-menu animation="reveal" translucentOverlay="false" as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <div {{action burger.state.actions.close}}><i class="fa fa-times"></i></div>

    <ul>
      {{#menu.item}}
        {{link-to 'Home' 'index'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Disorders' 'disorders'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'About' 'about'}}
      {{/menu.item}}

    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <div {{action burger.state.actions.toggle}}><i class="fa fa-bars"></i></div>
    <div class="body">
    {{liquid-outlet}}
  </div>
  {{/burger.outlet}}
{{/burger-menu}}
