{{!-- ember burger menu --}}
<div class="container-fluid">
  <div class="home-header">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="header">CONTEXTUAL CAMOUFLAGE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="header"><span class="bold">MENTAL DISORDERS ARE MORE COMMON THAN YOU THINK</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="header">VISIT <a class="bold" href="http://mystory.cc">MYSTORY.CC</a> FOR MORE INFO</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid intro">
    <div class="row map-key">
      {{!-- heat map --}}
      <div class="col-sm-5 col-sm-push-6 col-xs-12">
        {{#leaflet-map lat=lat lng=lng zoom=zoom zoomControl=false minZoom=zoom maxZoom=zoom touchZoom=false dragging=false}}
          {{tile-layer url="http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}

            {{!-- Depression --}}
            {{#if showDepression}}
              {{#each (range depressionCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#03264c' fillOpacity=(random-dec 0.7 0.9) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- Bipolar Disorder --}}
            {{#if showBipolar}}
              {{#each (range bipolarCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#64f566' fillOpacity=(random-dec 0.4 0.8) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- ADHD --}}
            {{#if showAdhd}}
              {{#each (range ADHDCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#ff9900' fillOpacity=(random-dec 0.4 0.8) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- OCD --}}
            {{#if showOcd}}
              {{#each (range OCDCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#94261c' fillOpacity=(random-dec 0.4 0.8) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- PTSD --}}
            {{#if showPtsd}}
              {{#each (range PTSDCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#159993' fillOpacity=(random-dec 0.4 0.8) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- Anxiety --}}
            {{#if showAnxiety}}
              {{#each (range anxietyCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#ffff00' fillOpacity=(random-dec 0.4 0.8) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- Dementia --}}
            {{#if showDementia}}
              {{#each (range dementiaCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#7f47dd' fillOpacity=(random-dec 0.4 0.8) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- Schizophrenia --}}
            {{#if showSchizophrenia}}
              {{#each (range schizophreniaCount) as |num|}}
                {{circle-marker-layer location=(random-loc lat lng mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#8f2750' fillOpacity=(random-dec 0.6 0.9) stroke=false}}
              {{/each}}
            {{/if}}
            {{!-- Autism --}}
            {{#if showAutism}}
              {{#each (range autismCount) as |num|}}
                {{circle-marker-layer location=(random-loc center mapHeight mapWidth) radius=(random-int 2 5) fill=true fillColor='#4a8bcb' fillOpacity=(random-dec 0.6 0.9) stroke=false}}
              {{/each}}
            {{/if}}
        {{/leaflet-map}}
      </div>
      <div class="col-sm-6 col-sm-pull-5 col-xs-12">
        {{!-- <div class="location"><h1>{{city}}</h1></div> --}}
        <div class="location-city"><h2>{{city}}</h2></div>
        <div class="time"><h2>{{moment-format (now) 'HH:mm:ss'}}</h2></div>
        <div class="date"><h2>{{moment-format (now) 'MM/DD/YYYY'}}</h2></div>
        <div class="disorder-key">
        <h4>COMMON MENTAL DISORDERS</h4>
        <span {{action (toggle 'showDepression' this)}} class="disorder-icon depression {{if showDepression '' 'disabled'}}">DEPRESSION</span>
        <span {{action (toggle 'showAnxiety' this)}} class="disorder-icon anxiety {{if showAnxiety '' 'disabled'}}">ANXIETY</span>
        <span {{action (toggle 'showBipolar' this)}} class="disorder-icon bipolar {{if showBipolar '' 'disabled'}}">BIPOLAR DISORDER</span>
        <span {{action (toggle 'showDementia' this)}} class="disorder-icon dementia {{if showDementia '' 'disabled'}}">DEMENTIA</span>
        <span {{action (toggle 'showAdhd' this)}} class="disorder-icon adhd {{if showAdhd '' 'disabled'}}">ADHD</span>
        <span {{action (toggle 'showSchizophrenia' this)}} class="disorder-icon schizophrenia {{if showSchizophrenia '' 'disabled'}}">SCHIZOPHRENIA</span>
        <span {{action (toggle 'showOcd' this)}} class="disorder-icon ocd {{if showOcd '' 'disabled'}}">OCD</span>
        <span {{action (toggle 'showAutism' this)}} class="disorder-icon autism {{if showAutism '' 'disabled'}}">AUTISM</span>
        <span {{action (toggle 'showPtsd' this)}} class="disorder-icon ptsd {{if showPtsd '' 'disabled'}}">PTSD</span>
      </div>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6" style="text-align: center;">
      <h1>
      {{#link-to 'tell-your-story' class="btn btn-default story-link"}}
        Join Our Community
      {{/link-to}}
    </h1>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>
